/* style user response reply */
.mhndbubble.reply {
  background: transparent;
  box-shadow: none;
  float: right;
  position: relative;
  transform-origin: right top;
  margin: 8px 0 10px;
  padding: 0;
  max-width: 65%;
}
.mhndbubble.reply.history {
  margin: 0 0 2px 0; /* remembered mhndbubbles do not need to stand out via margin */
}
.mhndbubble.reply.say {
  /*
  min-width: 350px;
 */
}
.mhndbubble.reply .mhndbubble-content {
  transition: all 200ms;
}
.mhndbubble.reply .mhndbubble-content .mhndbubble-button {
  background: white;
  color: #1F115A;
  padding: 8px 16px;
  border: 1px solid #1F115A;
  border-radius: 15px 15px 15px 15px;
  margin-left: 2px;
  text-align: center;
  display: inline-block;
  float: right;
  cursor: pointer;
  transition: all 200ms;
  text-decoration: none;
  word-break: normal;
	box-sizing: content-box;
  /* animation-duration: 1s; */
  animation-name: "animate-reply";
  animation-play-state: paused;
  animation-fill-mode: forwards;
  /* opacity: 0; */
  transform: translate3d(0px, 0px, 0px);
  animation-delay: -3s;
  -ms-animation-delay: -3;
  -webkit-animation-delay: -3s;
  width: 100% !important;
    border-radius: 50px !important;
}
@keyframes animate-reply {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mhndbubble.reply.say .mhndbubble-content .mhndbubble-button {
  animation-play-state: running;
  margin-top: 3px;
  min-height: 24px;
  overflow: hidden;
}

.mhndbubble.reply .mhndbubble-content .mhndbubble-button:first-child {
   border-radius: 15px 15px 15px 15px;
  margin-left: 2px;
}
.mhndbubble.reply .mhndbubble-content .mhndbubble-button:last-child,
.mhndbubble.reply .mhndbubble-content .mhndbubble-button.mhndbubble-pick {
  border-radius: 15px 15px 15px 15px;
}
.mhndbubble.reply.mhndbubble-picked .mhndbubble-content .mhndbubble-button {
  transform: scale(0) translate3d(0px, 0px, 0px);
  padding: 0;
}
.mhndbubble.reply:not(.mhndbubble-picked) .mhndbubble-content .mhndbubble-button:hover,
.mhndbubble.reply .mhndbubble-content .mhndbubble-button.mhndbubble-pick {
  background: #1F115A;
  color:white;
  transform: scale(1) translate3d(0px, 0px, 0px);
  padding: 8px 16px;
  height: auto;
}

/* interaction recall styles */
.mhndbubble.history .mhndbubble-content .mhndbubble-button,
.mhndbubble.history.reply:not(.mhndbubble-picked) .mhndbubble-content .mhndbubble-button:hover,
.mhndbubble.history.reply .mhndbubble-content .mhndbubble-button.mhndbubble-pick {
  background: rgba(44, 44, 44, 0.67);
  cursor: default;
}

/* input fields for mhndbubbles */
.mhndbubble .mhndbubble-content input {
  background: linear-gradient(193deg, #1faced, #5592dc 100%) !important;
  box-shadow: 0 0px 1px 0px #000, 0 -1px 0 0px rgba(255, 255, 255, 0.38) inset;
  text-shadow: 0 1px rgba(0, 0, 0, 0.35);
  border: 0;
  outline: 0;
}
.mhndbubble .mhndbubble-content input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, .5);
  text-shadow: none;
}
.mhndbubble .mhndbubble-content input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, .5);
  text-shadow: none;
}
.mhndbubble .mhndbubble-content input:read-only {
  background: linear-gradient(166deg, #48121d, #0d4058 100%) !important;
}
