
/* style mhndbubbles */
.mhndbubble,
.mhndbubble-typing {
color: #000000;
    background: rgb(232 232 232);
  padding: 8px 16px;
  border-radius: 5px 15px 15px 15px;
  font-weight: 400;
    font-family: system-ui, tahoma, sans-serif;
  text-transform: none;
  text-align: left;
  font-size: 16px;
  letter-spacing: .5px;
  margin: 0 0 2px 0;
  max-width: 65%;
  float: none;
  clear: both;
  line-height: 1.5em;
  word-break: break-word;
  transform-origin: left top;
  transition: all 200ms;
  box-sizing: content-box;
  width: auto !important;
}
.mhndbubble .mhndbubble-content {
  transition: opacity 150ms;
}
.mhndbubble:not(.say) .mhndbubble-content {
  opacity: 0;
}
.mhndbubble-typing.imagine,
.mhndbubble.imagine {
  transform: scale(0);
  transition: all 200ms, height 200ms 1s, padding 200ms 1s;
}
.mhndbubble.imagine {
  margin: 0;
  height: 0;
  padding: 0;
}

/* style media that's inside mhndbubbles */
.mhndbubble .mhndbubble-content img {
  width: calc(100% + 32px);
  margin: -8px -16px;
  overflow: hidden;
  display: block;
  border-radius: 5px 15px 15px 15px;
}

/* interaction recall styles */
.mhndbubble.history,
.mhndbubble.history .mhndbubble-content,
.mhndbubble.history .mhndbubble-content .mhndbubble-button,
.mhndbubble.history .mhndbubble-content .mhndbubble-button:hover {
  transition: all 0ms !important;
}
.mhndbubble.history {
  opacity: .25;
}
